In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('masterdataset.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1459 non-null   int64
 1   id                 1459 non-null   int64
 2   release_date       1459 non-null   object
 3   movie              1459 non-null   object
 4   production_budget  1459 non-null   object
 5   domestic_gross     1459 non-null   object
 6   worldwide_gross    1459 non-null   object
 7   year               1459 non-null   int64
 8   movie_id           1459 non-null   object
 9   original_title     1459 non-null   object
 10  runtime_minutes    1459 non-null   float64
 11  genres             1459 non-null   object
 12  averagerating      1459 non-null   float64
 13  numvotes           1459 non-null   float64
dtypes: float64(3), int64(3), object(8)
memory usage: 159.7+ KB

In [5]:
# change the monetary values into integers 'worldwide_gross' 'domestic_gross' 'production_budget'

df['worldwide_gross'] = df['worldwide_gross'].str[1:]

df['worldwide_gross'] = df['worldwide_gross'].str.replace(',','')

df['worldwide_gross'] = df['worldwide_gross'].astype(int)

df['domestic_gross'] = df['domestic_gross'].str[1:]

df['domestic_gross'] = df['domestic_gross'].str.replace(',','')

df['domestic_gross'] = df['domestic_gross'].astype(int)

df['production_budget'] = df['production_budget'].str[1:]

df['production_budget'] = df['production_budget'].str.replace(',','')

df['production_budget'] = df['production_budget'].astype(int)

df['profit'] = df['worldwide_gross'] - df['production_budget']

df['ROI'] = df['profit'] / df['production_budget'] * 100

In [6]:
df

,Unnamed: 0,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year,movie_id,original_title,runtime_minutes,genres,averagerating,numvotes,profit,ROI
0,0,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,2011,tt1298650,Pirates of the Caribbean: On Stranger Tides,136.0,"Action,Adventure,Fantasy",6.6,447624.0,635063875,154.667286
1,1,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,2019,tt6565702,Dark Phoenix,113.0,"Action,Adventure,Sci-Fi",6.0,24451.0,-200237650,-57.210757
2,2,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,2015,tt2395427,Avengers: Age of Ultron,141.0,"Action,Adventure,Sci-Fi",7.3,665594.0,1072413963,324.384139
3,3,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,2018,tt4154756,Avengers: Infinity War,149.0,"Action,Adventure,Sci-Fi",8.5,670926.0,1748134200,582.711400
4,4,9,"Nov 17, 2017",Justice League,300000000,229024295,655945209,2017,tt0974015,Justice League,120.0,"Action,Adventure,Fantasy",6.5,329135.0,355945209,118.648403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1541,45,"Jan 27, 2017",Emily,27000,3547,3547,2017,tt4393036,Emily,83.0,Drama,6.8,13.0,-23453,-86.862963
1455,1542,49,"Sep 1, 2015",Exeter,25000,0,489792,2015,tt1945044,Exeter,91.0,"Horror,Mystery,Thriller",4.5,5156.0,464792,1859.168000
1456,1544,52,"Dec 1, 2015",Dutch Kills,25000,0,0,2015,tt2759066,Dutch Kills,90.0,"Crime,Drama,Thriller",5.1,82.0,-25000,-100.000000
1457,1545,59,"Nov 25, 2011",The Ridges,17300,0,0,2011,tt1781935,The Ridges,89.0,"Drama,Horror,Thriller",2.9,127.0,-17300,-100.000000
1458,1546,62,"Dec 31, 2014",Stories of Our Lives,15000,0,0,2014,tt3973612,Stories of Our Lives,60.0,Drama,7.5,85.0,-15000,-100.000000

In [10]:
df_filtered = df[(df['production_budget'] >= 10000000) & (df['runtime_minutes'] >= 75) & (df['numvotes'] >= 1000)]

In [11]:
df_filtered

,Unnamed: 0,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year,movie_id,original_title,runtime_minutes,genres,averagerating,numvotes,profit,ROI
0,0,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,2011,tt1298650,Pirates of the Caribbean: On Stranger Tides,136.0,"Action,Adventure,Fantasy",6.6,447624.0,635063875,154.667286
1,1,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,2019,tt6565702,Dark Phoenix,113.0,"Action,Adventure,Sci-Fi",6.0,24451.0,-200237650,-57.210757
2,2,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,2015,tt2395427,Avengers: Age of Ultron,141.0,"Action,Adventure,Sci-Fi",7.3,665594.0,1072413963,324.384139
3,3,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,2018,tt4154756,Avengers: Infinity War,149.0,"Action,Adventure,Sci-Fi",8.5,670926.0,1748134200,582.711400
4,4,9,"Nov 17, 2017",Justice League,300000000,229024295,655945209,2017,tt0974015,Justice League,120.0,"Action,Adventure,Fantasy",6.5,329135.0,355945209,118.648403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055,1108,32,"Dec 26, 2014",Barbecue,10000000,388,247565,2014,tt3202120,Barbecue,98.0,Comedy,6.1,2301.0,-9752435,-97.524350
1056,1109,33,"Dec 31, 2010",The Reef,10000000,0,15037867,2010,tt1320291,The Reef,94.0,"Adventure,Drama,Horror",5.8,15194.0,5037867,50.378670
1057,1110,36,"Oct 8, 2010",It's a Wonderful Afterlife,10000000,0,1642939,2010,tt1319716,It's a Wonderful Afterlife,100.0,"Comedy,Drama,Fantasy",5.4,1361.0,-8357061,-83.570610
1058,1111,39,"Sep 26, 2014",Plastic,10000000,0,575371,2014,tt2556874,Plastic,102.0,"Action,Comedy,Crime",6.0,7234.0,-9424629,-94.246290
1059,1113,47,"May 19, 2015",Into the Grizzly Maze,10000000,0,0,2015,tt1694021,Into the Grizzly Maze,94.0,"Action,Adventure,Drama",5.3,7006.0,-10000000,-100.000000

In [13]:
df_filtered.sort_values(by='ROI', ascending = False)

,Unnamed: 0,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year,movie_id,original_title,runtime_minutes,genres,averagerating,numvotes,profit,ROI
961,1008,43,"Jun 6, 2014",The Fault in Our Stars,12000000,124872350,307166834,2014,tt2582846,The Fault in Our Stars,126.0,"Drama,Romance",7.7,315135.0,295166834,2459.723617
1005,1054,36,"Oct 19, 2018",Halloween,10000000,159342015,254900667,2018,tt1502407,Halloween,106.0,"Horror,Thriller",6.6,88395.0,244900667,2449.006670
937,981,46,"Dec 3, 2010",Black Swan,13000000,106954678,331266710,2010,tt0947798,Black Swan,108.0,"Drama,Thriller",8.0,648854.0,318266710,2448.205462
765,799,92,"Dec 9, 2016",La La Land,20000000,151101803,426351163,2016,tt3783958,La La Land,128.0,"Comedy,Drama,Music",8.0,436070.0,406351163,2031.755815
890,934,2,"Aug 11, 2017",Annabelle: Creation,15000000,102092201,305384865,2017,tt5140878,Annabelle: Creation,109.0,"Horror,Mystery,Thriller",6.5,90402.0,290384865,1935.899100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,256,80,"Dec 13, 2017",Bright,90000000,0,0,2017,tt5519340,Bright,117.0,"Action,Crime,Fantasy",6.4,147834.0,-90000000,-100.000000
356,370,52,"Dec 11, 2015",The Ridiculous 6,60000000,0,0,2015,tt2479478,The Ridiculous 6,119.0,"Comedy,Western",4.8,38694.0,-60000000,-100.000000
990,1038,54,"Oct 3, 2014",Drive Hard,12000000,0,0,2014,tt2968804,Drive Hard,92.0,"Action,Comedy,Crime",4.4,3907.0,-12000000,-100.000000
763,797,82,"Feb 1, 2019",Velvet Buzzsaw,21000000,0,0,2019,tt7043012,Velvet Buzzsaw,113.0,"Horror,Mystery,Thriller",5.7,40213.0,-21000000,-100.000000
1059,1113,47,"May 19, 2015",Into the Grizzly Maze,10000000,0,0,2015,tt1694021,Into the Grizzly Maze,94.0,"Action,Adventure,Drama",5.3,7006.0,-10000000,-100.000000

In [17]:
# Want to determine which years are part of our dataset
sorted(df_filtered['year'].unique())

[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [42]:
df_filtered[df_filtered['movie'].str.contains('Resident Evil')]

,Unnamed: 0,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year,movie_id,original_title,runtime_minutes,genres,averagerating,numvotes,profit,ROI
322,336,4,"Sep 14, 2012",Resident Evil: Retribution,65000000,42345531,240647629,2012,tt1855325,Resident Evil: Retribution,95.0,"Action,Horror,Sci-Fi",5.4,125191.0,175647629,270.227122
365,380,70,"Sep 10, 2010",Resident Evil: Afterlife,57500000,60128566,295874190,2010,tt1220634,Resident Evil: Afterlife,96.0,"Action,Adventure,Horror",5.9,153270.0,238374190,414.563809

In [ ]:
# Resident Evil Retribution and Afterlife 270 and 414.5 ROI, Need for Speed 194 ROI, Hitman: Agent 47 ROI 135
# Warcraft 166 ROI, Tomb Raider 204 ROI, Rampage 257 ROI

In [46]:
videogames = ['Resident Evil: Retribution', 'Resident Evil: Afterlife', 'Need for Speed', 'Hitman: Agent 47', 'Warcraft', 'Tomb Raider', 'Rampage']

In [48]:
videogame_movies = df_filtered[df_filtered['movie'].isin(videogames)]

In [55]:
videogame_movies = videogame_movies.drop('original_title', axis = 1)

In [57]:
videogame_movies = videogame_movies.sort_values(by = 'release_date', ascending = False)

In [58]:
videogame_movies.to_csv('videogame_movies.csv')

In [59]:
!ls

CONTRIBUTING.md                     movie_data_erd.jpeg
LICENSE.md                          moviegenres.jpeg
README.md                           moviegenres.pdf
albert_notebook_data_analysis.ipynb moviegenres.png
albert_phase1_notebook.ipynb        student.ipynb
awesome.gif                         videogame_movies.csv
masterdataset.csv                   zippedData
masterdatasetdraft.csv